$mobile: 600px;
$tablet: 768px;
$desktop: 992px;
$desktop-large: 1200px;

@mixin mobile($breakpoint: $mobile) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }    
}

@mixin mobile-large($breakpoint: $mobile) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }    
}

@mixin tablet($breakpoint: $tablet) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}

@mixin desktop($breakpoint: $desktop) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}

@mixin desktop-large($breakpoint: $desktop-large){
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}