@use '../reset';
@use '../breakpoints' as breakpoint;
@use '../design-systems' as ds;
@use '../mixins' as mixin;

footer {
    margin: 0 0 12px;
    width: 100%;
    @include mixin.flex(row, space-between, center);

    .socials {
        .social-link {
            text-decoration: none;
            color: ds.$primary-color;
            font-size: 1.6em;
            @include breakpoint.desktop-large {
                font-size: 1.8em;
            }
            margin-right: 10px;
        }
    }
    .live-chat {
        .live-chat-icon {
            height: 30px;
            @include breakpoint.desktop-large {
                height: 36px;
            }
            @include breakpoint.desktop-large {
                height: 40px;
            }
            width: auto;
        }
    }
}
